html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='icon', type='image/png', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/chat.css')
  body
    iframe(src='http://192.168.1.128:4020/', height='100%', width='100%', referrerpolicy='origin')
    //- ul(id='messages')
    //- form(action='')
    //-     input(id='m', autocomplete='off')
    //-     button= 'Send'
    
    //- script(src='/socket.io/socket.io.js')
      script(src='https://cdn.socket.io/socket.io-3.0.1.min.js')
      script(src='https://code.jquery.com/jquery-3.4.1.min.js')
      script(src='/javascripts/chat.js')