extends layout

block content
  // loader start
  include loader
  // loader end
  // header start
  include header
  // header end
  // breadcrumb start
  .breadcrumb-section
    .container
      .row
        .col-sm-6
          .page-title
            h2 404 page
        .col-sm-6
          nav.theme-breadcrumb(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Home
              li.breadcrumb-item.active(aria-current='page') 404 page
  // breadcrumb End
  // section start
  section.p-0
    .container
      .row
        .col-sm-12
          .error-section
            h1 404
            h2 page not found
            a.btn.btn-solid(href='index.html') back to home
  // Section ends
  // footer start
  include footer
  // footer end
  // tap to top
  .tap-top
    div
      i.fa.fa-angle-double-up
  // tap to top End
  // theme setting
  include theme-settings
  // theme setting
  include vendor-scripts
  script.
    function openSearch() {
      document.getElementById("search-overlay").style.display = "block";
    }
    function closeSearch() {
      document.getElementById("search-overlay").style.display = "none";
    }

