doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title=title
        link(rel='icon', type='image/png', href='/images/favicon.ico')
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/demo.css')
        link(rel='stylesheet', href='/stylesheets/component.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:200,400,800')
        meta(name="description", content= list)
    body
        div(class="container demo-1")
            div(class="content")
                div(id="large-header", class="large-header")
                    canvas(id="demo-canvas")
                    h1(class="main-title")='Dmytro '
                        span(class="thin")='Sekhno'
        script(src="javascripts/TweenLite.min.js")
        script(src="javascripts/CSSPlugin.min.js")
        script(src="javascripts/EasePack.min.js")
        script(src="javascripts/rAF.js")
        script(src="javascripts/demo-1.js")