doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='icon', type='image/png', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="description", content= list)
  body
    header.header
      button(class=['header-btn', 'header-menu']) Menu
      div.logo LogoApp 
      button(class=['header-btn', 'header-catalog']) Catalog 
      div(class='header-search') 
        input(type='text', class='header-search__input')
    block content
