.loader_skeleton
    include top-header
    header
        .container
            .row
                .col-sm-12
                    .main-menu
                        .menu-left
                            .navbar
                                a(href='javascript:void(0)')
                                    .bar-style
                                        i.fa.fa-bars.sidebar-bar(aria-hidden='true')
                            .brand-logo
                                a(href='index.html')
                                    img.img-fluid.blur-up.lazyload(src='/assets/images/icon/logo.svg' alt='')
                        .menu-right.pull-right
                            div
                                nav
                                    .toggle-nav
                                        i.fa.fa-bars.sidebar-bar
                                    ul.sm.pixelstrap.sm-horizontal
                                        li
                                            .mobile-back.text-end
                                                | Back
                                                i.fa.fa-angle-right.ps-2(aria-hidden='true')
                                        li
                                            a(href='index.html') Home
                                        li
                                            a(href='#')
                                                | feature
                                                .lable-nav new
                                        li
                                            a(href='#') shop
                                        li
                                            a(href='#') product
                                        li
                                            a(href='#') pages
                                        li
                                            a(href='#') blog
                            div
                                .icon-nav.d-none.d-sm-block
                                    ul
                                        li.onhover-div.mobile-search
                                            div
                                                img.img-fluid.blur-up.lazyload(src='/assets/images/icon/search.png' onclick='openSearch()' alt='')
                                                i.ti-search(onclick='openSearch()')
                                        li.onhover-div.mobile-setting
                                            div
                                                img.img-fluid.blur-up.lazyload(src='/assets/images/icon/setting.png' alt='')
                                                i.ti-settings
                                        li.onhover-div.mobile-cart
                                            div
                                                img.img-fluid.blur-up.lazyload(src='/assets/images/icon/cart.png' alt='')
                                                i.ti-shopping-cart
    .home-slider
        .home
    section.collection-banner
        .container
            .row
                .col-md-6
                    .ldr-bg
                        .contain-banner
                            div
                                h4
                                h2
                                h6
                .col-md-6
                    .ldr-bg
                        .contain-banner
                            div
                                h4
                                h2
                                h6
    .container.section-b-space
        .row.section-t-space
            .col-lg-6.offset-lg-3
                .product-para
                    p.first
                    p.second
            .col-12
                .no-slider.row
                    .product-box
                        .img-wrapper
                        .product-detail
                            h4
                            h5
                            h5.second
                            h6
                    .product-box
                        .img-wrapper
                        .product-detail
                            h4
                            h5
                            h5.second
                            h6
                    .product-box
                        .img-wrapper
                        .product-detail
                            h4
                            h5
                            h5.second
                            h6
                    .product-box
                        .img-wrapper
                        .product-detail
                            h4
                            h5
                            h5.second
                            h6
                    .product-box
                        .img-wrapper
                        .product-detail
                            h4
                            h5
                            h5.second
                            h6
                    .product-box
                        .img-wrapper
                        .product-detail
                            h4
                            h5
                            h5.second
                            h6
                    .product-box
                        .img-wrapper
                        .product-detail
                            h4
                            h5
                            h5.second
                            h6
                    .product-box
                        .img-wrapper
                        .product-detail
                            h4
                            h5
                            h5.second
                            h6