//.theme-settings
//    ul
//        li.demo-li
//            a(href='javascript:void(0)' onclick='openSetting()')
//                #setting-icon.setting-sidebar
//                    h5
//                        | 50+
//                        br
//                        | demo
//        li.demo-li
//            .backend-btn
//                a(target='_blank' href='../back-end/index.html') Admin
//        li
//            .dark-btn Dark
//        li
//            .rtl-btn RTL
//        li.input-picker
//            input#ColorPicker1(type='color' value='#ff4c3b' name='Background')
//.scroll-setting-box
//    #setting_box.setting-box
//        a.overlay(href='javascript:void(0)' onclick='closeSetting()')
//        .setting_box_body
//            div(onclick='closeSetting()')
//                .sidebar-back.text-start
//                    i.fa.fa-angle-left.pe-2(aria-hidden='true')
//                    |  Back
//            .setting-body
//                .setting-title
//                    div
//                        img.img-fluid(src='../assets/images/icon/logo.png' alt='')
//                        h3
//                            | 50+
//                            span demos
//                            br
//                            |  suit for any type of online store.
//                .setting-contant
//                    .row.demo-section
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='nft.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/58.jpg' alt='')
//                                a.demo-text(href='nft.html')
//                                    h4
//                                        | NFT
//                                        span New
//                                        h4
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='vegetables-4.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/vegetables-4.jpg' alt='')
//                                a.demo-text(href='vegetables-4.html')
//                                    h4
//                                        | Vegetables 4
//                                        span New
//                                        h4
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='vegetables-5.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/vegetables-5.jpg' alt='')
//                                a.demo-text(href='vegetables-5.html')
//                                    h4
//                                        | Vegetables 5
//                                        span New
//                                        h4
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='gradient.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/gradient.jpg' alt='')
//                                a.demo-text(href='gradient.html')
//                                    h4
//                                        | gradient
//                                        h4
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='index.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/fashion.jpg' alt='')
//                                a.demo-text(href='index.html')
//                                    h4 fashion
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='fashion-2.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/fashion-2.jpg' alt='')
//                                a.demo-text(href='fashion-2.html')
//                                    h4 fashion 2
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='fashion-3.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/fashion-3.jpg' alt='')
//                                a.demo-text(href='fashion-3.html')
//                                    h4 fashion 3
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='fashion-4.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/fashion-4.jpg' alt='')
//                                a.demo-text(href='fashion-4.html')
//                                    h4 fashion 4
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='fashion-5.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/fashion-5.jpg' alt='')
//                                a.demo-text(href='fashion-5.html')
//                                    h4 fashion 5
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='fashion-6.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/fashion-6.jpg' alt='')
//                                a.demo-text(href='fashion-6.html')
//                                    h4 fashion 6
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='fashion-7.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/fashion-7.jpg' alt='')
//                                a.demo-text(href='fashion-7.html')
//                                    h4 fashion 7
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='furniture.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/furniture.jpg' alt='')
//                                a.demo-text(href='furniture.html')
//                                    h4 furniture
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='furniture-2.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/furniture-2.jpg' alt='')
//                                a.demo-text(href='furniture-2.html')
//                                    h4 furniture 2
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='furniture-3.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/furniture-dark.jpg' alt='')
//                                a.demo-text(href='furniture-3.html')
//                                    h4 furniture dark
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='electronic-1.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/electronics.jpg' alt='')
//                                a.demo-text(href='electronic-1.html')
//                                    h4 electronics
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='electronic-2.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/electronics-2.jpg' alt='')
//                                a.demo-text(href='electronic-2.html')
//                                    h4 electronics 2
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='electronic-3.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/electronics-3.jpg' alt='')
//                                a.demo-text(href='electronic-3.html')
//                                    h4 electronics 3
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='marketplace-demo.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/marketplace.jpg' alt='')
//                                a.demo-text(href='marketplace-demo.html')
//                                    h4 marketplace
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='marketplace-demo-2.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/marketplace-2.jpg' alt='')
//                                a.demo-text(href='marketplace-demo-2.html')
//                                    h4 marketplace 2
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='marketplace-demo-3.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/marketplace-3.jpg' alt='')
//                                a.demo-text(href='marketplace-demo-3.html')
//                                    h4 marketplace 3
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='marketplace-demo-4.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/marketplace-4.jpg' alt='')
//                                a.demo-text(href='marketplace-demo-4.html')
//                                    h4 marketplace 4
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='vegetables.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/vegetables.jpg' alt='')
//                                a.demo-text(href='vegetables.html')
//                                    h4 vegetables
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='vegetables-2.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/vegetables-2.jpg' alt='')
//                                a.demo-text(href='vegetables-2.html')
//                                    h4 vegetables 2
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='vegetables-3.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/vegetables-3.jpg' alt='')
//                                a.demo-text(href='vegetables-3.html')
//                                    h4 vegetables 3
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='jewellery.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/jewellery.jpg' alt='')
//                                a.demo-text(href='jewellery.html')
//                                    h4 jewellery
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='jewellery-2.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/jewellery-2.jpg' alt='')
//                                a.demo-text(href='jewellery-2.html')
//                                    h4 jewellery 2
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='jewellery-3.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/jewellery-3.jpg' alt='')
//                                a.demo-text(href='jewellery-3.html')
//                                    h4 jewellery 3
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='bags.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/bag.jpg' alt='')
//                                a.demo-text(href='bags.html')
//                                    h4 bag
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='watch.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/watch.jpg' alt='')
//                                a.demo-text(href='watch.html')
//                                    h4 watch
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='medical.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/medical.jpg' alt='')
//                                a.demo-text(href='medical.html')
//                                    h4 medical
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='perfume.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/perfume.jpg' alt='')
//                                a.demo-text(href='perfume.html')
//                                    h4 perfume
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='yoga.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/yoga.jpg' alt='')
//                                a.demo-text(href='yoga.html')
//                                    h4 yoga
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='christmas.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/christmas.jpg' alt='')
//                                a.demo-text(href='christmas.html')
//                                    h4 christmas
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='bicycle.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/bicycle.jpg' alt='')
//                                a.demo-text(href='bicycle.html')
//                                    h4 bicycle
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='marijuana.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/marijuana.jpg' alt='')
//                                a.demo-text(href='marijuana.html')
//                                    h4 marijuana
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='gym-product.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/gym.jpg' alt='')
//                                a.demo-text(href='gym-product.html')
//                                    h4 gym
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='tools.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/tools.jpg' alt='')
//                                a.demo-text(href='tools.html')
//                                    h4 tools
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='shoes.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/shoes.jpg' alt='')
//                                a.demo-text(href='shoes.html')
//                                    h4 shoes
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='books.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/books.jpg' alt='')
//                                a.demo-text(href='books.html')
//                                    h4 books
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='kids.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/kids.jpg' alt='')
//                                a.demo-text(href='kids.html')
//                                    h4 kids
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='game.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/game.jpg' alt='')
//                                a.demo-text(href='game.html')
//                                    h4 game
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='beauty.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/beauty.jpg' alt='')
//                                a.demo-text(href='beauty.html')
//                                    h4 beauty
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='left_sidebar-demo.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/left-sidebar.jpg' alt='')
//                                a.demo-text(href='left_sidebar-demo.html')
//                                    h4 left sidebar
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='video-slider.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/video-slider.jpg' alt='')
//                                a.demo-text(href='video-slider.html')
//                                    h4 video slider
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='metro.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/metro.jpg' alt='')
//                                a.demo-text(href='metro.html')
//                                    h4 metro
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='goggles.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/goggles.jpg' alt='')
//                                a.demo-text(href='goggles.html')
//                                    h4 goggles
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='flower.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/flower.jpg' alt='')
//                                a.demo-text(href='flower.html')
//                                    h4 flower
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='light.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/light.jpg' alt='')
//                                a.demo-text(href='light.html')
//                                    h4 light
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='nursery.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/nursery.jpg' alt='')
//                                a.demo-text(href='nursery.html')
//                                    h4 nursery
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='pets.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/pets.jpg' alt='')
//                                a.demo-text(href='pets.html')
//                                    h4 pets
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='video.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/video.jpg' alt='')
//                                a.demo-text(href='video.html')
//                                    h4 video
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='lookbook-demo.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/lookbook.jpg' alt='')
//                                a.demo-text(href='lookbook-demo.html')
//                                    h4 lookbook
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='full-page.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/full-page.jpg' alt='')
//                                a.demo-text(href='full-page.html')
//                                    h4 full page
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='instagram-shop.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/instagram.jpg' alt='')
//                                a.demo-text(href='instagram-shop.html')
//                                    h4 instagram
//                        .col-md-4.col-6.text-center.demo-effects
//                            .set-position
//                                a.layout-container(href='parallax.html')
//                                    img.img-fluid.bg-img.bg-top(src='../assets/images/landing-page/demo/parallax.jpg' alt='')
//                                a.demo-text(href='parallax.html')
//                                    h4 parallax